// Define parameters used in the main Nextflow script called main.nf

params {
    // General parameters
    outdir = "$launchDir/outdir"

    // Modules dir
    modulesdir = "$launchDir/modules"

    // Rscript paths
    randomscescript = "$launchDir/rscripts/make_random_sce.R"
    filtvalcellsscript = "$launchDir/rscripts/filter_value_cells.R"

    // Parameters for random sce
    scefname = "sce"
    
    // Parameters for cells zero value filter

}
