// Define parameters used in the main Nextflow script called main.nf

params {
    // General parameters
    outdir = "$launchDir/outdir"

    // Modules dir
    modulesdir = "$launchDir/modules"

    // Rscript paths
    randomscescript = "$launchDir/rscripts/make_random_sce.R"
    filter_value_cells = "$launchDir/rscripts/filter_value_cells.R"

    // Parameters for random sce
    zerofreq = 0.4
    
    // Parameters for cells zero value filter
    maxzerofreq = 0.15

}
