// Define all the parameters from the main nextflow script

params {
    // General parameters
    outdir = "$launchDir/outdir"

    // Rscript paths
    addscriptpath = "$launchDir/add.R"
    multiplyscriptpath = "$launchDir/multiply.R"

    // Parameters for arithmetic
    sumstartvalue = 2
    sumaddvalue = 3
    multiplyvalue = 4
}
