// Define parameters used in the main Nextflow script called main.nf

params {
    // General parameters
    outdir = "$launchDir/outdir"

    // Modules dir
    modulesdir = "launchDir/modules/"

    // Rscript paths
    addscriptpath = "$launchDir/rscripts/add.R"
    multiplyscriptpath = "$launchDir/rscripts/multiply.R"

    // Parameters for arithmetic
    sumstartvalue = 2
    sumaddvalue = 3
    multiplyvalue = 4
}
